# Virtual environments
.venv/
venv/
env/
.venvrc

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Logs
*.log

# OS / IDE files
.DS_Store
.idea/
.vscode/

# Build / packaging
*.egg-info/
dist/
build/

# pytest
.pytest_cache/
